img{
  
    max-width: 280px;
    height: auto;
    object-fit: cover;
    padding: 12px;
}

.single-page{
    height: 900px;
    width: 100%" 
}

@media (max-width: 768px){
    .single-page{
        width: 80%;
        height: auto;
    } 
}

body {
    transition: background-color 0.9s ease;
}

.light-mode {
    background-color: #ffffff;
    color: #000000;
}

.dark-mode {
    background-color: #1d1d1d;
    color: #ffffff;
}

